@import '../../../cssVariables/variables.css';

.errorContainer {
  width: 100%;
  height: 300px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.errorImg {
  width: 150px;
  height: 150px;
}
.errorText {
  color: var(--yellow);
  font-size: 2em;
}
